@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.App {
  font-family: "DM Sans", sans-serif;
}
.carding {
  height: 63vh;
}
.rating {
  position: absolute;
  top: 30px;
  right: 30px;
}
.year {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 0 20px;
}

.crew {
  font-size: 15px;
  font-weight: 500;
}

.spinner {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
